name: Publish to PyPI

on:
  push:
    tags:
      - 'v*'
jobs:
  publish:
    name: Publish to TestPyPI and PyPI
    runs-on: [ubuntu-latest]

    steps:
      - name: Check tag
        id: check-tag
        run: |
          if [[ ${{ github.ref }} =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+ ]]; then
              echo ::set-output name=match::true
          fi

      - name: Checkout repo
        if: steps.check-tag.outputs.match == 'true'
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Download Python wheels
        if: steps.check-tag.outputs.match == 'true'
        uses: dawidd6/action-download-artifact@v2.26.0
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          workflow: wheels.yml
          workflow_conclusion: success
          branch: github
          name: qepy-wheels
          path: dist/

      - name: Set up Python
        if: steps.check-tag.outputs.match == 'true'
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Build a a source tarball
        if: steps.check-tag.outputs.match == 'true'
        run: |
          python -m pip install build
          python -m build --sdist

      - name: Publish distribution to Test PyPI
        if: steps.check-tag.outputs.match == 'true'
        uses: pypa/gh-action-pypi-publish@v1.7.1
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/

      - name: Publish distribution to PyPI
        if: steps.check-tag.outputs.match == 'true'
        uses: pypa/gh-action-pypi-publish@v1.7.1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
